#creditsSection {
    padding: 3vw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

#creditsSection h1 {
    margin: 0;
    font-size: 4vw;
}

#gallery {
    width: min-content;

    display: flex;
    gap: 3vw;
}

#gallery figure {
    margin: 0;
    width: min(50vh, 50vw);
    aspect-ratio: 2/3;
    overflow: hidden;
    border-radius: min(5vh, 5vw);
    padding: min(5vh, 5vw);
    font-size: min(5vh, 5vw);
}

#gallery img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}


#gallery {
    align-self: flex-start;
    position: relative;
    animation-name: gallery;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes gallery {
  from {
    right: calc((8*min(50vh, 50vw) + 7*3vw) - 100%);
  }
  to {
    right: calc((8*min(50vh, 50vw) + 7*3vw)/2 - 100%);
  }
}