#headerDiv {
    position: fixed;
    width: 100%;
    height: 10%;
    background-color: var(--backgroundColor);
    color: var(--color);
    font-weight: 900;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#iconDiv {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#iconDiv img {
    height: 50%;
    aspect-ratio: 1/1;
    object-fit: scale-down;
}

#titleDiv {
    width: fit-content;
    font-size: 5vh;
}

.optionSection {
    padding-right: 2vh;
    background-color: rgba(255, 255, 255, 0);
    transition: 1s;

    display: flex;
    align-items: center;
}

.optionSection:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

.optionIcon {
    height: 80%;
    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.optionIcon img {
    height: 5vh;
    aspect-ratio: 1/1;
    object-fit: scale-down;
}

.optionDesc {
    font-size: 3vh;

    display: flex;
    align-items: center;
}

#buttonButNotButtonSoIDontNeedToRestartAllStyling {
    position: absolute;
    height: 100%;
    aspect-ratio: 1/1;
    top: 0px;
    right: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonButNotButtonSoIDontNeedToRestartAllStyling img {
    height: 50%;
    aspect-ratio: 1/1;
    object-fit: scale-down;
}

/* responsive section, initially in mobile then converted to deskop */

.deskopOnly {
    visibility: hidden;
    position: fixed;
}

.mobileOnly {
    visibility: visible;
    position: relative;
}

#optionsNav {
    visibility: hidden;
    position: absolute;
    right: 0px;
    top: 100%;
    height: 200%;
}

.optionSection {
    height: 50%;
    width: 100%;
}

@media only screen and (min-width: 992px) {
    .deskopOnly {
        visibility: visible;
        position: relative;
    }

    .mobileOnly {
        visibility: hidden;
        position: fixed;
    }

    #optionsNav {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        visibility: visible;

        display: flex;
    }

    .optionSection {
        height: 100%;
        width: fit-content;
    }
}