body {
    background-image: url("../../images/signin/background.webp");
    background-size: cover;
    background-position: center;
    backdrop-filter: brightness(0.5);
    --backgroundColor: rgb(0, 0, 0);
    --color: rgb(255, 255, 255);
}

#signinSection {
    padding: 5vh;
    padding-bottom: 15vh;
    font-family: 'Times New Roman', Times, serif;
    font-size: 5vw;
    font-weight: bold;
    color: var(--color);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3vh;
}

#title {
    font-size: 15vw;
    font-weight: initial;
    margin-bottom: 5vh;
}

@media only screen and (max-width: 1000px) {
    input {
        background-color: var(--color);
        border-radius: 10px;
        width: 40%;
        padding: 1vh;
    }

    #accountNumberInput {
        height: 8vh;
    }

    #pinInput {
        height: 5vh
    }
}

#submitButton {
    padding: 1vh;
    background-color: var(--backgroundColor);
    border: 3px solid var(--color);
    border-radius: 10px;
    box-shadow: 0px 4px 0px 1px var(--backgroundColor);
}