@import url("header.css");

:root {
    --backgroundColor: rgb(25, 25, 25);
    --otherBackground: rgb(35, 35, 35);
    --color: rgb(245, 245, 245);
    --borderColor: rgb(180, 180, 180);

    --carbackground: #0e0e14;
    --carcolor: rgb(4, 4, 19);
    --carcoloraccent: #0f0f2a;
    --carborder: #25252e;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--backgroundColor);
    color: var(--color);
    height: 100vh;
    margin: 0; 
    padding: 0;
    overflow: auto;
    font-family: Lato, sans-serif;
}

#bodyDiv {
    width: 100%;
    height: 100%;
    padding-top: 10vh;
}

.bodySections {
    height: 100%;
    overflow: hidden;
}

.deskopOnly { /* Is it misspelled? Yes. Am I gonna do anything about it? I'm too deep in it to return*/
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

.mobileOnly {
    visibility: visible;
    position: relative;
}

@media only screen and (min-width: 1000px) {
    .deskopOnly {
        visibility: visible;
        position: relative;
    }

    .mobileOnly {
        visibility: hidden;
        position: fixed;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input {
    border: none;
}

input:focus {
    border: none;
    outline: none; 
}

textarea, input { outline: none; } /* I dunno man at this Point I'm doing anything to remove it*/

.invalidinput {
    visibility: hidden;
    padding: 10px;
    position: absolute;
    color: red;
    text-shadow: -1px 0px black, 1px 0px black, 0px -1px black, 0px 1px black;
}