@media only screen and (max-width: 1000px) {
    #mobileheader {
        position: relative;
        width: min(60vw, 60vh);
        height: min-content;
        padding: 5vh;
        background-color: var(--backgroundcolor);
        box-shadow: -10px 0px 0px 10px var(--bordercolor), 10px 0px 0px 10px var(--bordercolor);
        border-radius: 2vh;
        text-wrap: balance;
        font-size: min(8vw, 8vh);
        text-align: center;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #mobileheader div {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    #mobileheader svg {
        box-sizing: border-box;
        position: absolute;
        top: -10px;
        left: -20px;
        height: max(137px, 70%);
    }

    #mobileheader img {
        position: absolute;
        bottom: -10px;
        right: -20px;
        height: 80%;
        transform: rotate(55deg);
    }

    #title {
        font-family: nickainley;
        font-size: min(12vw, 12vh);
    }

    input {
        width: 60vw;
        background-color: transparent;
        padding: 10px;
        padding-bottom: 15px;
        color: var(--fontcolor);
        font-family: sans-serif;
        font-size: min(3vw, 3vh);
        border-bottom: 1px solid var(--fontcolor);
        z-index: 12;
    }

    .input:focus {
        color: var(--fontcolor);
    }

    ::placeholder {
        font-family: sans-serif;
        font-size: min(3vw, 3vh);
        color: var(--fontcolor);
    }

    #submit {
        position: relative;
        padding: 2vh;
        width: 50vw;
        font-family: sans-serif;
        text-align: center;
        background-color: var(--backgroundcolor);
        border-radius: 5vh;
        box-shadow: 0px -5px 0px 5px var(--bordercolor), 0px 5px 0px 5px var(--bordercolor);
        cursor: pointer;
        anchor-name: --mobile;
    }

    #submit:hover {
        cursor: pointer;
    }

    #submit section {
        margin: 0px;
        padding: 0px;
        position: absolute;
        top: 10px;
        left: 30%;
        height: 100%;
        width: 40%;
        border-radius: 50%;
        box-shadow: 0px 0px 15px 0px black;
        z-index: -1;
    }

    .invalidinput {
        position-anchor: --mobile;
        position-area: bottom center;
    }
}