@font-face {
    font-family: blaka;
    src: url("../../images/404/Blaka-Regular.ttf");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

.mobileOnly {
    visibility: visible;
    position: relative;
}

.desktopOnly {
    visibility: hidden;
    position: fixed;
}

@media only screen and (min-width: 1000px) {
    .mobileOnly {
        display: none;
        visibility: hidden;
        position: fixed;
    }

    .desktopOnly {
        visibility: visible;
        position: relative; 
    }
}